.headerStyle {
    background-color: #1E1F20;
    color: #ebe7e7;
}

p {
    font-family: monospace;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-item {
    display: contents;
    padding-left: 10px;
    color: whitesmoke;
}

.user {
    cursor: pointer;
}

.searchButton {
    background-color: #d6e6f2;
    color: #415f9d;
}

.notification {
    background-image: linear-gradient(to bottom, #415f9d, #ffffff);
    width: 17em;
    margin-top: 5px;
    color: white;
    font-family: monospace;
}

.show.profile-notification:before {
    content: "";
    background-color: #fff;
    border: 10px solid transparent;
    border-left-color: #d3d6db;
    border-top-color: #fff;
    position: absolute;
    border-radius: 3px;
    top: -8px;
    right: 18px;
    -webkit-box-shadow: -5px -5px 12px -2px rgba(0,0,0,0.3);
    box-shadow: -5px -5px 12px -2px rgba(0,0,0,0.3);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1002;
}

.profile-notification li {
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    border-top: none;
    padding: 0.7em 20px;
    background-color: #fff;
}

.profile-notification li:hover {
    background-color: #ebebeb;
}

.notification-item {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: medium;
    font-family: monospace;
    width: 100%;
    text-decoration: none;
    color: #2f4f4f;
}

.timestamp {
    justify-content: end;
    color: #778899;
    font-size: .6rem;
    float: right;
}

.loadMore {
    background-color: #fff;
}

.loadMore span{
    font-size: medium;
    color: #000000;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.notificationPane {
    max-height: calc(100vh - 7rem);
    overflow: scroll;
    width: 100%;
}

#vcmtsuiSearchBar, #searchNodeName
{
    background-color: #585858;
    color: white;
}

.typeahead__search-icon
{
    color: white;
}

::ng-deep .tooltip-bg .tooltip-inner{
    color: black;
    background-color: #FFFFFF;
 }

 ::ng-deep .tooltip-bg .arrow::before {
    border-right-color: #FFFFFF;
 }

 ::ng-deep .tooltip-width .tooltip-inner{
    min-width: 230px;
 }

 
