<p>documentsutility works!</p>
<a href="javascript:void(0);" (click)="changPageString('previous')">previous</a>
<select #val (change)="changPage(val.value)">
    
    <option value='{{page}}' *ngFor='let page of this.pages'>{{page}}</option>
   
  </select><a href="javascript:void(0);" (click)="changPageString('next')">next</a>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Index</th>
        <th>Program</th>
        <th>File Name</th>
        <th>FileSize</th>
        <th>Mime type</th>
        <th>updatedBy</th>
        <th>Action</th>
       
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of untilitydata">
        <td>{{ data.index }}</td>
        <td>{{ data.program }}</td>
        <td>{{ data.filename }}</td>
        <td>{{ data.filesize }}</td>
        <td>{{ data.mimetype }}</td>
        <td>{{ data.updatedby }}</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>
